<div class="container">
    <h3 style="color: rgb(17, 17, 18);">Tours Management</h3>
 
    <br>
 
    <div>
        <a href="#" routerLink="/addTour" class="btn btn-outline-success">Add Tour</a>
    </div>
 
    <br>
 
    <table style="color:rgba(24, 1, 1, 0.793); width: fit-content;" class="center ; table table-bordered border-primary table-hover">
     <thead style="background-color:rgba(4, 0, 255, 0.408) ;">
        <tr>
         <td>ID Tour</td>
         <td>Tour Name</td>
         <td>Departure Date</td>
         <td>Return Date</td>
         <td>Price For An Adult</td>
         <td>Price For A Child</td>
         <td>Promoted</td>
         <td>Number Of Days</td>
         <td>Number Of Adult Seats</td>
         <td>Number Of Child Seats</td>
         <td>Availability</td>
         <td>Action</td>
        </tr>
     </thead>
     <tbody>
         <tr style="background-color:rgba(7, 31, 92, 0.064) ;" *ngFor="let tour of toursList">
            <td>{{tour.idTour}}</td> 
            <td>{{tour.tourName}}</td>
             <td>{{tour.departureDate}}</td>
             <td>{{tour.returnDate}}</td>
             <td>{{tour.priceForAnAdult}}</td>
             <td>{{tour.priceForAChild}}</td>
             <td>{{tour.promoted}}</td>
             <td>{{tour.numberOfDays}}</td>
             <td>{{tour.numberOfAdultSeats}}</td>
             <td>{{tour.numberOfChildSeats}}</td>
             <td>{{tour.availability}}</td>
             
             <td>
                 <!-- <a type="button" class="btn btn-info" [routerLink]="['/employee/details', employee.id]">Details</a> -->
                 <a type="button" [routerLink] = "['/editTour/', tour.idTour]" class="btn btn-outline-primary">Edit</a>

                 <a type="button" class="btn btn-outline-danger" href="/admin" (click) = "deleteTour(tour.tourName)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                      <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                  </a>
             </td>
         </tr>
     </tbody>
    </table>
 </div>

