<!DOCTYPE html>
<html>
  <head>
    <title>Title of the document</title>
    <style>
      .example {
        width: 100%;
        height: 500px;
        background: url("../assets/background.jpg");
        background-attachment: fixed;  
        background-size: cover;
        
      }
    </style>
  </head>
  <body>
    <div class="example"></div>
    
    <h1 style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, cursive; display: inline-block; font-size:250%; font-style: italic;color:rgba(17, 16, 16, 0.548)"> Adventure is calling...</h1>
      
    <h2 style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, cursive;  font-style: italic; color:rgba(15, 15, 15, 0.548)"> So I must go!</h2>
    <br>
    <br>
    <br>

    <h3 style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, cursive; color:rgba(72, 69, 69, 0.919)">Why I Should Travel?</h3>
    <p>1. New experiences Routine is the killer of the soul, and there’s nothing better than the feeling of experiencing something new in a new place.</p>
    <p>2. Food! (and other cultural experiences, too) ...</p>
    <p>3. Bonding ...</p>
    <p>4. Gaining a sense of perspective and appreciation ...</p>
    <p>5. Opening your mind ...</p>
    <p>6. Ohhh, the memories...</p>
    <p>7. Staying at hostels ...</p>

  
    <img src="../assets/hostels.jpg" class="card-img-top" alt="img" style="width: 500px; height: 400px;">
  </body>
</html>




<!-- 
<div class="container">
    <div>
        <h1 style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, cursive; display: inline-block; font-style: italic;"> Adventure is calling...</h1>
       
    </div>
    <h2 style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, cursive; font-size:250%; font-style: italic;"> Are you picking up?</h2>

    
</div> 
     -->
