h1{
    font-style: oblique;
    font-family: 'Courier New', Courier, monospace;
    display: block;
    justify-content: baseline;
    align-items: flex-start;
    font-size:320%; 
    position: relative;
   
}   
 

h2{
    font-style: oblique;
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
    justify-content: baseline;
    align-items: flex-start;
    font-size:50%; 
    height: 0px;    
    text-align: left;
}
    
 
