.yellow-div {
    background-color:rgb(244, 247, 246);
    width: 700px;
    padding: 25px;
    border: 1px dashed rgb(57, 54, 54);
    margin-left:10em;
    text-align: center;
    // margin:200px;
  }