<!DOCTYPE html>
<html>
  <head>
    <title>Title of the document</title>
    <style>
      .example {
        width: 100%;
        height: 350px;        
        background: url("../assets/back2.jpg");        
        background-attachment: fixed;  
        background-size: cover;
        
      }
    </style>
  </head>
  <body>
    <div class="example"></div>
    <h2 style="text-align: center;">Welcome to Travellers' Club</h2>
    <br>
    <br>

    <h4 style="text-align: center;">Our clients are our highest priority</h4>
    <br>    
    <div class="yellow-div">
      At Travellers' Club, our clients are our highest priority and as trusted Travel Advisors, we will always act in your best interests. As a client, you can rely on us to advocate on your behalf when it comes to any holidays booked, and whether that means changing dates or destinations, rebooking entire holidays, making cancellations or alternative recommendations about where to travel with lower risk, we are here for you.
    </div>
    <br>

    <h4 style="text-align: center;">Where travel is more than just a passion</h4>
    <br>    
    <div class="yellow-div">
      Travellers' Club is a boutique travel agency with a total focus on uncompromising customer service bringing together the most knowledgeable and well travelled advisors across Australia. Experience lies at the heart of everything we do.
    </div>
    <br>

    <h4 style="text-align: center;">For holidays you didn't know you wanted</h4>
    <br>    
    <div class="yellow-div">
      With a wealth of industry experience and extensive product knowledge, your Travellers' Club team has the expertise to help you create travel experiences you never thought possible.
    </div>
    <br>

    <h4 style="text-align: center;">We will take the time to get it right</h4>
    <br>    
    <div class="yellow-div">
      Our spacious and stylish offices are the perfect place to slow things down over a relaxed beverage and discuss your individual travel needs in a private and uninterrupted environment. We will then work with you to carefully prepare all of the arrangements.
    </div>
    <br>

    <h4 style="text-align: center;">For the love of trading travel ideas</h4>
    <br>    
    <div class="yellow-div">
      Just like you, our advisors have a genuine passion for travel and share a common bond in seeking out authentic travel experiences and immersing themselves in the destination.
    </div>
    <br>

  </body>
</html>